* {
  background-color: grey;
  padding: 0;
  margin: 0;
}

.block:not(.first) {
  background-color: orange;
  height: 200px;
  width: 300px;
  border: 4px solid rgb(0, 238, 255);
  margin-bottom: 20px;
}

#grid {
  float: left;
  width: 100%;
}
#grid div {
  float: left;
  background: brown;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 150px;
  width: 23.5%;
}
#grid div:nth-child(4n) {
  margin-right: 0;
}

a {
  color: silver;
}
a:hover {
  color: #8d8d8d;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

.first {
  background-color: orange;
  height: 100px;
  width: 300px;
  border: 4px solid rgb(0, 238, 255);
  margin-bottom: 20px;
}
.first ol {
  background: orange;
}
.first ol li {
  font-size: 1.5em;
  font-weight: bold;
  color: purple;
  background: orange;
}

#central_block {
  padding: 30px;
}
#central_block ul {
  background: orange;
  list-style: none;
  display: inline-block;
}
#central_block li {
  background: orange;
  float: left;
  width: 25%;
}
#central_block li a {
  background: orange;
  color: purple;
}
#central_block li a:hover {
  color: red;
}
#central_block a {
  background: orange;
  color: wheat;
}

#last_block {
  padding: 20px 30px 40px 50px;
}