// comment
@import "variables";
@import "mixins";
*{
    background-color: grey;
    padding: 0;
    margin: 0;
}
.block:not(.first){
    background-color: orange;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
} 
#grid {
    float: left;
    width: 100%;

    > div {
        @include grid (4, 2%);
    }
}

a{
    @include link(silver, red, blue, green)
}
.first {
    background-color: $bgColorOrange;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
    ol{
        background: $bgColorOrange;
        li{
            @include font(1.5em, purple);
            background: $bgColorOrange;
        }
    }
}

#central_block{
    padding: 30px;
    ul{
        background: $bgColorOrange;
        list-style: none;
        display: inline-block;
    }
    li{
        background: $bgColorOrange;
        float: left;
        width: (100% / 4);
        // margin-right: 10px;
        a{
            background: $bgColorOrange;
            color: purple;
            &:hover{
                color: red;
            }
        }
    }
    a{
        background: $bgColorOrange;
        color: wheat;
    }
}

#last_block{
    @include padd(20px 30px 40px 50px)
}