// comment
$bgColor: black;
$bgColorOrange: orange;
$blockWidth: 300px;
$border: 4px solid rgb(0, 238, 255);
$fontColor: green;
*{
    background-color: grey;
    padding: 0;
    margin: 0;
}
.block:not(.first){
    background-color: orange;
    height: 200px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
} 
@mixin font ($fontSize, $color){
    font-size: $fontSize;
    font-weight: bold;
    color: $color;
}
.first {
    background-color: $bgColorOrange;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
    ol{
        background: $bgColorOrange;
        li{
            @include font(1.5em, purple);
            background: $bgColorOrange;
        }
    }
}

#central_block{
    padding: 30px;
    ul{
        background: $bgColorOrange;
        list-style: none;
        display: inline-block;
    }
    li{
        background: $bgColorOrange;
        float: left;
        margin-right: 10px;
        a{
            background: $bgColorOrange;
            color: purple;
        }
    }
    a{
        background: $bgColorOrange;
        color: wheat;
    }
}
@mixin padd ($padd...){
    padding: $padd;
}
#last_block{
    @include padd(20px 30px 40px 50px)
}